// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #4199E3;
$yellow: #E0CA5A;
$orange: #DB3707;
$green: #96B929;
$gray: #363636;
$light-gray: #EAEAEA;
$white: #FFFFFF;
$black: #000000;
